<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chujc.manage.resume.mbg.mapper.HgUserInfoMapper">
  <resultMap id="BaseResultMap" type="com.chujc.manage.resume.mbg.model.HgUserInfo">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="mobile" jdbcType="CHAR" property="mobile" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="weixin" jdbcType="VARCHAR" property="weixin" />
    <result column="start_work_date" jdbcType="DATE" property="startWorkDate" />
    <result column="degree" jdbcType="TINYINT" property="degree" />
    <result column="work_status" jdbcType="TINYINT" property="workStatus" />
    <result column="intention_salary" jdbcType="VARCHAR" property="intentionSalary" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.chujc.manage.resume.mbg.model.HgUserInfo">
    <result column="introduction" jdbcType="LONGVARCHAR" property="introduction" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_id, name, avatar, birthday, sex, mobile, city_id, email, weixin, start_work_date, 
    degree, work_status, intention_salary, created_at, updated_at
  </sql>
  <sql id="Blob_Column_List">
    introduction
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.chujc.manage.resume.mbg.model.HgUserInfoExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from hg_user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.chujc.manage.resume.mbg.model.HgUserInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hg_user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from hg_user_info
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hg_user_info
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.chujc.manage.resume.mbg.model.HgUserInfoExample">
    delete from hg_user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chujc.manage.resume.mbg.model.HgUserInfo">
    insert into hg_user_info (user_id, name, avatar, 
      birthday, sex, mobile, city_id, 
      email, weixin, start_work_date, 
      degree, work_status, intention_salary, 
      created_at, updated_at, introduction
      )
    values (#{userId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=DATE}, #{sex,jdbcType=TINYINT}, #{mobile,jdbcType=CHAR}, #{cityId,jdbcType=INTEGER}, 
      #{email,jdbcType=VARCHAR}, #{weixin,jdbcType=VARCHAR}, #{startWorkDate,jdbcType=DATE}, 
      #{degree,jdbcType=TINYINT}, #{workStatus,jdbcType=TINYINT}, #{intentionSalary,jdbcType=VARCHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, #{introduction,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chujc.manage.resume.mbg.model.HgUserInfo">
    insert into hg_user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="weixin != null">
        weixin,
      </if>
      <if test="startWorkDate != null">
        start_work_date,
      </if>
      <if test="degree != null">
        degree,
      </if>
      <if test="workStatus != null">
        work_status,
      </if>
      <if test="intentionSalary != null">
        intention_salary,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=CHAR},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null">
        #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="startWorkDate != null">
        #{startWorkDate,jdbcType=DATE},
      </if>
      <if test="degree != null">
        #{degree,jdbcType=TINYINT},
      </if>
      <if test="workStatus != null">
        #{workStatus,jdbcType=TINYINT},
      </if>
      <if test="intentionSalary != null">
        #{intentionSalary,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chujc.manage.resume.mbg.model.HgUserInfoExample" resultType="java.lang.Long">
    select count(*) from hg_user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update hg_user_info
    <set>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.avatar != null">
        avatar = #{record.avatar,jdbcType=VARCHAR},
      </if>
      <if test="record.birthday != null">
        birthday = #{record.birthday,jdbcType=DATE},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=TINYINT},
      </if>
      <if test="record.mobile != null">
        mobile = #{record.mobile,jdbcType=CHAR},
      </if>
      <if test="record.cityId != null">
        city_id = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.weixin != null">
        weixin = #{record.weixin,jdbcType=VARCHAR},
      </if>
      <if test="record.startWorkDate != null">
        start_work_date = #{record.startWorkDate,jdbcType=DATE},
      </if>
      <if test="record.degree != null">
        degree = #{record.degree,jdbcType=TINYINT},
      </if>
      <if test="record.workStatus != null">
        work_status = #{record.workStatus,jdbcType=TINYINT},
      </if>
      <if test="record.intentionSalary != null">
        intention_salary = #{record.intentionSalary,jdbcType=VARCHAR},
      </if>
      <if test="record.createdAt != null">
        created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedAt != null">
        updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.introduction != null">
        introduction = #{record.introduction,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update hg_user_info
    set user_id = #{record.userId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      avatar = #{record.avatar,jdbcType=VARCHAR},
      birthday = #{record.birthday,jdbcType=DATE},
      sex = #{record.sex,jdbcType=TINYINT},
      mobile = #{record.mobile,jdbcType=CHAR},
      city_id = #{record.cityId,jdbcType=INTEGER},
      email = #{record.email,jdbcType=VARCHAR},
      weixin = #{record.weixin,jdbcType=VARCHAR},
      start_work_date = #{record.startWorkDate,jdbcType=DATE},
      degree = #{record.degree,jdbcType=TINYINT},
      work_status = #{record.workStatus,jdbcType=TINYINT},
      intention_salary = #{record.intentionSalary,jdbcType=VARCHAR},
      created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
      introduction = #{record.introduction,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update hg_user_info
    set user_id = #{record.userId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      avatar = #{record.avatar,jdbcType=VARCHAR},
      birthday = #{record.birthday,jdbcType=DATE},
      sex = #{record.sex,jdbcType=TINYINT},
      mobile = #{record.mobile,jdbcType=CHAR},
      city_id = #{record.cityId,jdbcType=INTEGER},
      email = #{record.email,jdbcType=VARCHAR},
      weixin = #{record.weixin,jdbcType=VARCHAR},
      start_work_date = #{record.startWorkDate,jdbcType=DATE},
      degree = #{record.degree,jdbcType=TINYINT},
      work_status = #{record.workStatus,jdbcType=TINYINT},
      intention_salary = #{record.intentionSalary,jdbcType=VARCHAR},
      created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      updated_at = #{record.updatedAt,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chujc.manage.resume.mbg.model.HgUserInfo">
    update hg_user_info
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=CHAR},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null">
        weixin = #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="startWorkDate != null">
        start_work_date = #{startWorkDate,jdbcType=DATE},
      </if>
      <if test="degree != null">
        degree = #{degree,jdbcType=TINYINT},
      </if>
      <if test="workStatus != null">
        work_status = #{workStatus,jdbcType=TINYINT},
      </if>
      <if test="intentionSalary != null">
        intention_salary = #{intentionSalary,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.chujc.manage.resume.mbg.model.HgUserInfo">
    update hg_user_info
    set name = #{name,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      sex = #{sex,jdbcType=TINYINT},
      mobile = #{mobile,jdbcType=CHAR},
      city_id = #{cityId,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      weixin = #{weixin,jdbcType=VARCHAR},
      start_work_date = #{startWorkDate,jdbcType=DATE},
      degree = #{degree,jdbcType=TINYINT},
      work_status = #{workStatus,jdbcType=TINYINT},
      intention_salary = #{intentionSalary,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      introduction = #{introduction,jdbcType=LONGVARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chujc.manage.resume.mbg.model.HgUserInfo">
    update hg_user_info
    set name = #{name,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      sex = #{sex,jdbcType=TINYINT},
      mobile = #{mobile,jdbcType=CHAR},
      city_id = #{cityId,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      weixin = #{weixin,jdbcType=VARCHAR},
      start_work_date = #{startWorkDate,jdbcType=DATE},
      degree = #{degree,jdbcType=TINYINT},
      work_status = #{workStatus,jdbcType=TINYINT},
      intention_salary = #{intentionSalary,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>